<h3>Total Cost</h3>
<div class="totalPrice">
<ul>
  <!-- {{#each shoppingCart.items as |item|}}
  {{/each}} -->
  <h4>$ {{input
            disabled="entryNotAllowed"
            value=shoppingCart.totalPrice}}</h4>
</ul>
</div>
