body {
  background-color: rgba(0, 0, 0, 0.0);
    color: #fff;
}

html {
  background-image: url("cssImages/pageBackground.jpg");
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
}

.navbar {
  background-color: #6c7a89;
  border-radius: 0;
  font-size: 20px;
  color: #fff;
}

img {
  width: 300px;
  height: auto;
}

.content {
  background-color: rgba(0, 0, 0, 0.7);
  border: 2px solid rgba(51, 110, 123, 0.7);
  border-radius: 5px;
}

.signOut {
  float: right;
  margin-right: 10px;
}

.product {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: grey;
  border: 2px solid black;
}

.storeProduct img{
  padding-right: 10px;
}

.panel {
  color: #000;
  background-color: rgba(255, 255, 255, 0.6);
}

.panel-body img {
  height: 50px;
  width: 50px;
}

.signedOut {
  text-align: center;
}

input {
  color: #000;
}
