  <h2 id="title">E-Commerce</h2>
    <nav class="navbar">
      {{#link-to 'index'}}<span class="glyphicon glyphicon-home"></span>{{/link-to}} |
      {{#link-to 'store'}}Store{{/link-to}} |
      {{#link-to 'shopping-cart'}}<span class="glyphicon glyphicon-shopping-cart"></span>{{/link-to}} |
      {{#link-to 'signin'}}Sign-In{{/link-to}} |
      {{#link-to 'sign-up'}}Sign-Up{{/link-to}}
    </nav>
    <div class="container">

  {{outlet}}

</div>
