<!-- // app/templates/sign-up.hbs -->

<div class="row">
  <div class="col-xs-4 content">
    <h2>Sign Up</h2>
    <hr>
        {{input
            type='text'
            class='form-control'
            value=email
            placeholder='email'
            required='required'
        }}

        {{input
            type='password'
            class='form-control'
            value=password
            placeholder='password'
            required='required'
        }}

      <button class='btn btn-default' {{action 'signUp'}}>
        {{fa-icon 'user-plus'}} Sign Up
      </button>
      <h6>Already have a profile? Click {{#link-to 'signin'}}here{{/link-to}} to sign in!</h6>
    </div>
  </div>
