<div class="row">
  <div class="col-md-3">
  </div>

  <div class="col-md-6 content signedOut">
    <h3>You have successfully signed out.</h3>
      <p>Thank you</p>
        <h5>Return to {{#link-to 'index'}}home page{{/link-to}}</h5>
  </div>

  <div class="col-md-3">
  </div>
</div>
