<div class="row">
  {{#each model as |product|}}
    <div class="col-md-4">
      <div class="product">
        {{product-tile product=product destroyProduct="destroyProduct"}}
      </div>
    </div>
  {{/each}}
</div>


{{new-product-form saveProduct="saveProduct"}}
