<div class="content">
  <h6>
    {{#link-to 'store'}}
      <i class="fa fa-arrow-left"></i>Go back
    {{/link-to}}
  </h6>

  <h3>More information about {{model.title}}</h3>
    {{product-detail product=model}}
</div>
