<div class="container">
  {{#each model as |product|}}
    <div class="product">
      {{product-tile product=product destroyProduct="destroyProduct"}}
    </div>
  {{/each}}
</div>

{{new-product-form saveProduct="saveProduct"}}
